  
body {
    background: white;
    /* background: white; */
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, sans-serif;
  }
  
  main {
    width: 1000px;
    height: 550px;
    background: green;
    padding: 20px;
    margin: 16px auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between
  }
  
  .TitleCoin img {
    width: 400px;
    height: 74px;
    display: block; 
    margin-left: 280px;
    margin-right: 400px;
  }

  .TitleCoin {
    width: 100px;
    height: 50px;
    font-size: 22px; 
    margin-top: -15px;
    margin-left:150px;
  }
  
  .coinlabel {
    text-align: center;
  }
  
  #coinHyojiHt {
    background-color: #fff;
    text-align: right;
    border-color: black;
  }
  
  .panels {
    border: 4px solid white;
    background-color: ghostwhite;
  }
  
  .panel img {
    width: 280px;
    height: 180px;
    vertical-align: bottom;
  }
  
  /*.bonuslamp {
    width: 290px;
    height: 290px;
    margin: 16px auto;
    display: block;
    justify-content:space-between;
  }*/
  
  /*#biglamp{
    width: 150px;
    height: 100px;
    position: relative;
    top: 1000px;
    left: 1000px;
  }*/
  
    /*#reglamp{
    width: 125px;
    height: 100px;
    position: relative;
    top: -200px;
    left: -310px;
  }*/
  
  /*.setumei {
    width: 100px;
    height: 100px;
    margin: 16px auto;
    display: block;
    justify-content:space-between;
    position: relative;
    top: -620px;
    left: 250px;
  }*/
  
  /*.setumei img {
    width: 150px;
    height: 150px;
  }*/
  
  
  
  .btns {
    width: 290px;
    height: 290px;
    margin: 16px auto;
    display: flex;
    justify-content:space-between;
  }
  
  /*#chance{
    width: 100px;
    height: 100px;
    position: relative;
    top: -550px;
    left: -145px;
    /* opacity: 0.1; */
  /*}*/
  
  #stop1{
    cursor: pointer;
    width: 80px;
    height: 50px;
    background: #f81119;
    box-shadow: 0 7px 0 #d1483e;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    user-select: none;
    position: relative;
    top: 0px;
    left: -70px;
  }
  
  #stop1:active {
    margin-top: 10px;
    box-shadow: none;
  }
  
  #stop2{
    cursor: pointer;
    width: 80px;
    height: 50px;
    background: #f81119;
    box-shadow: 0 7px 0 #d1483e;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    user-select: none;
    position: relative;
    top: -0px;
    left: -20px;
  }
  
  #stop2:active {
    margin-top: 10px;
    box-shadow: none;
  }
  
  #stop3{
    cursor: pointer;
    width: 80px;
    height: 50px;
    background: #f81119;
    box-shadow: 0 7px 0 #d1483e;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    user-select: none;
    position: relative;
    top: 0px;
    left: 30px;
  }
  
  #stop3:active {
    margin-top: 10px;
    box-shadow: none;
  }
  
  #spin{
    cursor: pointer;
    width: 70px;
    height: 40px;
    background: #3498db;
    box-shadow: 0 5px 0 #2880b9;
    border-radius: 50px;
    line-height: 36px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    user-select: none;
    position: relative;
    top: 0px;
    left: 130px;
    z-index: 20;
  }
  
  #spin:active {
    margin-top: 10px;
    box-shadow: none;
  }
  
  .lever1 {
    width: 5px;
    height: 10px;
    background: black;
    position: relative;
    top: 45px;
    left: 110px;
    z-index: 10;
  }
  
  .lever2 {
    width: 30px;
    height: 10px;
    background: black;
    border-radius: 50px;
    position: relative;
    top: 50px;
    left: 95px;
    z-index: 10;
  }
  
  .reelShoto {
    opacity: 0.8;
  }
  
  .HighAndLowReel {
    opacity: 0.1;
  }
  
  .inactive {
    opacity: 1;
  }
  
  .stop_inactive {
    opacity: 0.5;
  }
  
  .chance_on_inactive {
    opacity: 1;
  }
  
  .chance_off_inactive {
    opacity: 0.1;
  }
  
  .biglamp_on_inactive {
    opacity: 1;
  }
  
  .biglamp_off_inactive {
    opacity: 0.1;
  }
  
  .reglamp_on_inactive {
    opacity: 1;
  }
  
  .reglamp_off_inactive {
    opacity: 0.1;
  }
  
  .big{
    background: yellow;
  }
  
  .reg{
    background: red;
  }
